# ========================================================
# 🐍 Python
# --------------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
.pytest_cache

# ========================================================
# 🧪 Entornos virtuales
# --------------------------------------------------------
env/
venv/


# ========================================================
# 🗃️ Configuración local y secretos
# --------------------------------------------------------
.vscode/
*.env
.env
.editorconfig
*.code-workspace
.vscode
*.sh
dev_scripts/
dev_docs/
*.bat
.htmlhintrc

# ========================================================
# Mantener carpeta vacía, ignorar contenido
# --------------------------------------------------------
static/md_files/admin_docs/*
/static/md_files/admin_docs/*.md
!static/md_files/admin_docs/.keep

# ========================================================
# 💾 Bases de datos y archivos de sesión
# --------------------------------------------------------
*.sqlite3
*.db
*.db-shm
*.db-wal
instance/

# ========================================================
# 🧾 Logs
# --------------------------------------------------------
*.log
logs/
!templates/admin/logs/
!static/js/admin/logs/
!admin/logs/

# ========================================================
# 🧪 Archivos de test y cache
# --------------------------------------------------------
.pytest_cache/
coverage/

# ========================================================
# 💻 Archivos del sistema (Windows/macOS)
# --------------------------------------------------------
.DS_Store
Thumbs.db

# ========================================================
# 🔐 Archivos pem
# --------------------------------------------------------
*.pem

# ========================================================
# 🧪 Cookies de pruebas locales
# --------------------------------------------------------
/cookies.txt

# ========================================================
# 🧪 Archivos .txt de herramientas, pruebas y control.
# --------------------------------------------------------
/structure.txt

# Archivos de pruebas de API
csrf_response.json
logout_response.json
