{% extends "shared/main.html" %}

{% block title %}{{ SITE_NAME }} - "Info"{% endblock %}

{% block content %}

{% if back_url is not defined %}
    {% set back_url = url_for('home.index') %}
    {% endif %}
        <div class="container">
            <div class="box left">
                <h3>CompuMas - "Info"</h3>

                <h4>🧪 CompuMas: Branch Flow.</h4>
                <p>Este proyecto usa un sistema de ramas escalonado para desarrollo seguro y modular.</p>

                <h4>🔀 Ramas activas</h4>
                <ul class="ul-on-primary">
                    <li><code>stash</code>: Caja de – ideas, prototipos y pulgas.</li>
                    <li><code>devops</code>: Ambiente de desarrollo controlado. Aquí se testean módulos individuales.</li>
                    <li><code>factory</code>: Ensamble de módulos. Aquí se prueba integración total.</li>
                    <li><code>main</code>: Versión estable y final. Solo entran cambios pulidos.</li>
                </ul>

                <h4>🔁 Flujo recomendado.</h4>
                <p><code>stash → devops → factory → main</code></p>

                <h4>🧠 Tips</h4>
                <ul class="ul-on-primary">
                    <li><code>stash</code>: No vivas ahí. Solo entra y sal rápido.</li>
                    <li><code>devops</code>: Ideal para experimentar con herramientas, UI, lógica individual.</li>
                    <li><code>factory</code>: Tu zona de pruebas bravas antes de pasar a producción.</li>
                    <li><code>main</code>: Intocable. Lo que está aquí, debe funcionar sí o sí.</li>
                </ul>
                <h4>🧠 Herramientas Utiles</h4>
                <ul class="ul-on-primary">
                    <li><code>WinDirStat</code>: Analisis de directorios</li>
                    <li><code>RustDesk</code>: Remote Desktop Ultralite.</li>
                    <li><code>Cobian Backup</code>: Automatizacion de Backups y Tareas programadsa de mantenimiento.</li>
                    <li><code>Kasperky Cybersecurity</code>: Antivirus y productos y servicios avanzados de ciberseguridad.</li>
                    <li><code>WinRar</code>: Potente Compresor.</li>
                </ul>
            </div>
        </div>
{% endblock %}