{% extends "shared/main.html" %}

{% block title %}Bienvenido a {{ SITE_NAME }}{% endblock %}

{% block content %}
<section class="section landing-section">
    <div class="container is-center">
        <div class="landing-intro">
            <h1 class="landing-title">Bienvenido a {{ SITE_NAME }}, servicios especializados para un mundo IT moderno.</h1>
        </div>

        <div class="landing-carousel-container">
            <button class="carousel-btn left" id="prevBtn">&#8592;</button>

            <div class="landing-carousel" id="carousel">
                <div class="service-box" data-animate>
                    <div class="service-image">
                        <img src="{{ url_for('static', filename='img/landing/service-helpdesk.png') }}" alt="Servicio X">
                    </div>
                    <div class="service-text">
                        <h1>Soporte Técnico y Helpdesk</h1>
                        <p>Soluciones rápidas, soporte remoto y presencial.</p>
                        <a href="/md/soporte_tecnico_y_helpdesk" class="service-link">Leer más →</a>
                    </div>
                </div>

                <div class="service-box green" data-animate>
                    <div class="service-image">
                        <img src="{{ url_for('static', filename='img/landing/service-sysadmin.png') }}" alt="Servicio X">
                    </div>
                    <div class="service-text">
                        <h1>Infraestructura y SysAdmin</h1>
                        <p>Administración y optimización de infraestructura tecnológica.</p>
                        <a href="/md/infraestructura_y_sysadmin" class="service-link">Leer más →</a>
                    </div>
                </div>

                <div class="service-box blue-dark" data-animate>
                    <div class="service-image">
                        <img src="{{ url_for('static', filename='img/landing/service-activosit.png') }}" alt="Servicio X">
                    </div>
                    <div class="service-text">
                        <h1>Gestión de Activos IT</h1>
                        <p>Control y seguimiento de recursos tecnológicos.</p>
                        <a href="/md/gestion_de_software_y_licencias" class="service-link">Leer más →</a>
                    </div>
                </div>

                <div class="service-box teal" data-animate>
                    <div class="service-image">
                        <img src="{{ url_for('static', filename='img/landing/service-usuarios.png') }}" alt="Servicio X">
                    </div>
                    <div class="service-text">
                        <h1>Gestión de Usuarios (IAM)</h1>
                        <p>Seguridad y control de accesos a datos y sistemas críticos.</p>
                        <a href="/md/gestion_de_usuarios" class="service-link">Leer más →</a>
                    </div>
                </div>

                <div class="service-box yellow" data-animate>
                    <div class="service-image">
                        <img src="{{ url_for('static', filename='img/landing/service-backups.png') }}" alt="Servicio X">
                    </div>
                    <div class="service-text">
                        <h1>Backup y Recuperación (DRP)</h1>
                        <p>Respaldo y protección de datos, planificación y preparación ante desastres e imprevistos.</p>
                        <a href="/md/respaldos_y_file_service" class="service-link">Leer más →</a>
                    </div>
                </div>

                <div class="service-box coral" data-animate>
                    <div class="service-image">
                        <img src="{{ url_for('static', filename='img/landing/service-mail.png') }}" alt="Servicio X">
                    </div>
                    <div class="service-text">
                        <h1>Correo corporativo y Exchange (MX)</h1>
                        <p>Servicios de correo empresarial robustos y seguros.</p>
                        <a href="/md/correos_corporativos_y_mx" class="service-link">Leer más →</a>
                    </div>
                </div>

                <div class="service-box" data-animate>
                    <div class="service-image">
                        <img src="{{ url_for('static', filename='img/landing/service-web.png') }}" alt="Servicio X">
                    </div>
                    <div class="service-text">
                        <h1>DevOps e Infraestructura Web</h1>
                        <p>Desarrollo de aplicaciones, implementación y automatización.</p>
                        <p>Despliegues de infraestructura Web moderna y segura.</p>
                        <a href="/md/web_y_hosting" class="service-link">Leer más →</a>
                    </div>
                </div>

                <div class="service-box teal" data-animate>
                    <div class="service-image">
                        <img src="{{ url_for('static', filename='img/landing/service-consultoria.png') }}" alt="Servicio X">
                    </div>
                    <div class="service-text">
                        <h1>Consultoría reportes estratégicos / PMO</h1>
                        <p>Asesoría estratégica para proyectos IT.</p>
                        <a href="/md/consultoria_y_reportes_estrategicos" class="service-link">Leer más →</a>
                    </div>
                </div>
            </div>

            <button class="carousel-btn right" id="nextBtn">&#8594;</button>
        </div>
    </div>
</section>
<script src="{{ url_for('static', filename='js/landing/landing_carrousel.js') }}?v={{ ASSET_VERSION }}"></script>
{% endblock %}
