{% extends "shared/main.html" %}

{% block title %}Bienvenido a {{ SITE_NAME }}{% endblock %}

{% block content %}
<div class="container is-center">
    <div class="box center">
    <h2>Bienvenido a {{ SITE_NAME }}</h2>
        <ul>
            <li>Soporte Técnico / Helpdesk</li>
            <li>Infraestructura / SysAdmin</li>
            <li>Gestión de Activos IT</li>
            <li>Gestión de Usuarios "IAM"</li>
            <li>Backup y DRP</li>
            <li>Correo y Exchange</li>
            <li>DevOps / Web Infra</li>
            <li>Consultoría / PMO</li>
        </ul>
    </div>
</div>
{% endblock %}





