{% extends "shared/main.html" %}

{% block title %}{{ SITE_NAME }} - "Nosotros"{% endblock %}

{% block content %}

{% if back_url is not defined %}
  {% set back_url = url_for('landing.index') %}
{% endif %}
  <section class="section section-secondary">
    <div class="container is-wide">
      <div class="box lg middle">
        <h2 class="box-title">{{ SITE_NAME }} - "Nosotros"</h2>

        <h4 class="box-title">Sobre nosotros</h4>
        <p>{{ SITE_NAME }} nace con el propósito de ofrecer soporte técnico claro, honesto y orientado a soluciones reales.
        Creemos que la tecnología y la ciencia son las herramientas más poderosas que la humanidad ha desarrollado para enfrentar sus desafíos.
        Nos especializamos en atender a pequeñas y medianas empresas, profesionales independientes y usuarios que requieren asistencia técnica especializada.
        Con años de experiencia en campo y una visión integral de los sistemas, {{ SITE_NAME }} adapta sus servicios a las necesidades específicas de cada entorno.
        Nuestro enfoque de consultoría permite cubrir de forma coherente los aspectos más relevantes de la infraestructura IT.</p>

        <h4 class="box-title">Misión</h4>
        <p>Proporcionar un servicio técnico confiable, seguro, accesible y de alta calidad.
        Nos regimos por los estándares de la industria de las tecnologías de la información, ofreciendo soporte y soluciones adaptadas a cada entorno.
        Nuestro compromiso es cubrir las necesidades críticas de usuarios y empresas, combinando mantenimiento, gestión de infraestructura, licenciamiento, respaldo de datos y reparación de dispositivos electrónicos.</p>

        <h4 class="box-title">Visión</h4>
        <p>Ser reconocidos como un servicio técnico confiable y completo en la región.
        Mantenemos una filosofía de mejora constante, formación continua y atención humana.
        Apostamos por procesos claros, licencias legales y prácticas profesionales.
        Nuestra meta es convertirnos en el brazo tecnológico de confianza para quienes nos eligen.</p>

        <div class="box button-back">
          <button class="button-link back-btn" data-back="/">
            <img src="{{ url_for('static', filename='icons/arrow-back-white.svg') }}" alt="Back" class="button-icon">
            Regresar
          </button>
        </div>

      </div>
    </div>
  </section>
{% endblock %}