{% extends "dashboard/dashboard.html" %}

{% block title %}Log de asigancion de Software{% endblock %}

{% block dashboard_content %}
<h4 class="title">
  <img src="{{ url_for('static', filename='icons/scroll-blue.svg') }}" alt="SoftwareLog" class="title-icon">
  Log de asigancion de Software
</h4>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Acción</th>
      <th>Dispositivo</th>
      <th>Licencia</th>
    </tr>
  </thead>
  <tbody>
    {% for log in logs %}
    <tr>
      <td>{{ log.fecha_creacion.strftime('%Y-%m-%d %H:%M') }}</td>
      <td>{{ log.action }}</td>
      <td>{{ log.dispositivo }}</td>
      <td>{{ log.license.license_key or 'N/A' }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/components/sidebar.js') }}?v={{ ASSET_VERSION }}"></script>
{% endblock %}