{% extends "dashboard/dashboard.html" %}

{% block title %}Adminboard{% endblock %}

{% block dashboard_content %}

<div class="control-bar">
  <h5 class="control-bar-title">
    <img src="{{ url_for('static', filename='icons/dashboard-white.svg') }}" alt="Dashboard" class="btn-icon">
    Admin Dashboard
  </h5>

  <button class="button-link back-btn" data-back="/">
    <img src="{{ url_for('static', filename='icons/arrow-back-white.svg') }}" alt="Back" class="btn-icon">
    Regresar
  </button>
</div>

<div class="box autofit dark left">
  <h3 class="box-title-white">Admin Dashboard</h3>
  <p>Hola <span class="label">{{ current_user.username }}</span>, aquí verás herramientas y accesos para administradores.</p>

  <div class="grid grid-mini">
    
    {% if total_users is not none %}
      <a href="{{ url_for('admin.view_model_table', model_name='user') }}" class="button bt-left button-dark">
        <h6 class="box-title-white">
          <img src="{{ url_for('static', filename='icons/users-white.svg') }}" class="title-icon">
          Total de usuarios: {{ total_users }}
        </h6>
      </a>
    {% endif %}
    
    {% if total_roles is not none %}
      <a href="{{ url_for('admin.view_model_table', model_name='role_catalog') }}" class="button bt-left button-dark">
        <h6 class="box-title-white">
          <img src="{{ url_for('static', filename='icons/roles-white.svg') }}" class="title-icon">
          Total de roles: {{ total_roles }}
        </h6>
      </a>
    {% endif %}

    {% if total_plans is not none %}
      <a href="{{ url_for('admin.view_model_table', model_name='plan_catalog') }}" class="button bt-left button-dark">
        <h6 class="box-title-white">
          <img src="{{ url_for('static', filename='icons/plans-white.svg') }}" class="title-icon">
          Total de planes: {{ total_plans }}
        </h6>
      </a>
    {% endif %}

    {% if total_user_plans is not none %}
      <a href="{{ url_for('admin.view_model_table', model_name='user_plan') }}" class="button bt-left button-dark">
        <h6 class="box-title-white">
          <img src="{{ url_for('static', filename='icons/user-plans-white.svg') }}" class="title-icon">
          Total de planes de usuarios: {{ total_user_plans }}
        </h6>
      </a>
    {% endif %}

    {% if total_companies is not none %}
      <a href="{{ url_for('admin.view_model_table', model_name='company') }}" class="button bt-left button-dark">
        <h6 class="box-title-white">
          <img src="{{ url_for('static', filename='icons/building-white.svg') }}" class="title-icon">
          Total de compañías: {{ total_companies }}
        </h6>
      </a>
    {% endif %}

    {% if total_logs is not none %}
      <a href="{{ url_for('admin.view_model_table', model_name='log') }}" class="button bt-left button-dark">
        <h6 class="box-title-white">
          <img src="{{ url_for('static', filename='icons/logs-white.svg') }}" class="title-icon">
          Total de Logs: {{ total_logs }}
        </h6>
      </a>
    {% endif %}
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/components/sidebar.js') }}?v={{ ASSET_VERSION }}"></script>
{% endblock %}
