{% extends "dashboard/dashboard.html" %}

{% block title %}Crear item de catálogo {{ title }}{% endblock %}

{% block dashboard_content %}

<div class="control-bar">

  <h5 class="control-bar-title">
    <img src="{{ url_for('static', filename='icons/catalogs-white.svg') }}" alt="Catalog" class="title-icon">
    {{ title }}
  </h5>

  <button class="button-link back-btn" data-back="{{ back_url or '/' }}">
    <img src="{{ url_for('static', filename='icons/arrow-back-white.svg') }}" alt="Back" class="btn-icon">
    Regresar
  </button>

</div>

<div class="box md dark left">

  <form id="create-form"
    class="form horizontal"
    data-model-name="{{ model_name }}"
    data-action-url="{{ action_url }}"
    data-redirect-url="{{ redirect_url }}">

    {% for field in fields %}
      <div class="row horizontal">
        <label class="label dark md" for="{{ field.field }}">
          {{ field.field.replace('_', ' ').capitalize() }}
        </label>

        {% if choices.get(field.field) %}
          <select name="{{ field.field }}" id="{{ field.field }}" {% if field.required %} required {% endif %}>
            {% if field.required %}
              <option value="" disabled selected>— seleccionar —</option>
            {% endif %}
            {% for item in choices[field.field] %}
              <option value="{{ item.value }}">{{ item.label }}</option>
            {% endfor %}
          </select>
        {% else %}
          <input 
            class="input sm"
            type="text"
            id="{{ field.field }}"
            name="{{ field.field }}"
            placeholder="{{ field.hint }}"
            title="{{ field.hint }}"
            {% if field.required %} required {% endif %}
          >
        {% endif %}
      </div>
    {% endfor %}

    <span id="catalogerror" class="message flashes error hidden"></span>

    <div class="box button-layout">
      <button type="submit" class="button button-success">
        <img src="{{ url_for('static', filename='icons/save-white.svg') }}" alt="Back" class="btn-icon">
        Guardar
      </button>
    </div>

  </form>

</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/components/sidebar.js') }}?v={{ ASSET_VERSION }}"></script>
<script src="{{ url_for('static', filename='js/models/create_catalog_item.module.js') }}?v={{ ASSET_VERSION }}" type="module"></script>
{% endblock %}
