{% extends "dashboard/dashboard.html" %}

{% block title %}Resumen: {{ label }}{% endblock %}

{% block dashboard_content %}

<div class="control-bar">
  <h5 class="control-bar-title">
    <img src="{{ url_for('static', filename='icons/overview-white.svg') }}" class="title-icon">
    Resumen:{{ emoji }} {{ label }}
  </h5>
  <button class="button-link back-btn" data-back="{{ back_url or '/' }}">
    <img src="{{ url_for('static', filename='icons/arrow-back-white.svg') }}" class="button-icon">
    Regresar
  </button>
</div>

<div class="box autofit dark left">
  <div class="grid grid-mini">
    <h5 class="box-title-white">Total de registros:</h5>
    <a href="{{ model_view_url }}" class="button button-dark">
      <strong>{{ emoji }} {{ label }}</strong>:<p>{{ count }}</p>
    </a>
    
    {% if creatable and create_url %}
      <a class="button button-success" href="{{ create_url }}">
        <img src="{{ url_for('static', filename='icons/add-item-white.svg') }}" class="btn-icon">
        Agregar
      </a>
    {% endif %}
    
    {% if importable and import_url %}
      <a class="button button-danger" href="{{ import_url }}">
        <img src="{{ url_for('static', filename='icons/upload-white.svg') }}" class="btn-icon">
        Importar
      </a>
    {% endif %}
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/components/sidebar.js') }}?v={{ ASSET_VERSION }}"></script>

{% endblock %}
