.special-container {
  width: 100%;
  max-width: 100%;
  margin-inline: auto;
  padding: 52px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cubes-wrapper {
  position: relative;
  width: 500px;
  height: 400px;
  margin: auto;
  transform-style: preserve-3d;
  z-index: 0;
  perspective: 1500px; 
}

.simple-cube-scene {
  position: absolute;
  transform-origin: center center;
}

.simple-cube {
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-33.264deg) rotateY(45deg);
  /*animation: spin-cube 12s infinite linear; /* */
  border-radius: var(--radius-8);
}

@keyframes spin-cube {
  0% { transform: rotateX(-30deg) rotateY(0deg); }
  100% { transform: rotateX(-30deg) rotateY(360deg); }
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(100, 149, 237, 0.9);
  border: 2px solid #2c3e50;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: var(--radius-8);
}

.simple-cube:hover .face {
  box-shadow: 0 0 14px rgba(0,0,0,0.5);
  filter: brightness(1.05);
}

/* SIZE 1 GREEN */
.cube-tilt-1 { transform: rotateX(-30deg) rotateY(45deg); }
.size-1 { width: 50px; height: 80px; }
.size-1 .front  { width: 120px; height: 80px; transform: translateZ(25px); }
.size-1 .back { width: 120px; height: 80px; transform: rotateY(180deg) translateZ(25px); }
.size-1 .right { width: 50px; height: 80px; left: -25px; transform: rotateY(90deg) translateZ(0px); }
.size-1 .left { width: 50px; height: 80px; left: 95px; transform: rotateY(-90deg) translateZ(0px); }
.size-1 .top { width: 120px; height: 50px; transform: rotateX(90deg) translateZ(25px); }
.size-1 .bottom { width: 120px; height: 50px; transform: rotateX(-90deg) translateZ(55px); }
.pos-1 { top: -20px; left: 0px; }     /*  GREEN */

/* SIZE 2 RED */
.cube-tilt-2 { transform: rotateX(-39deg) rotateY(46deg); }
.size-2 { width: 40px; height: 60px; }
.size-2 .front { width: 80px; height: 60px; transform: translateZ(20px); }
.size-2 .back { width: 80px; height: 60px; transform: rotateY(180deg) translateZ(20px); }
.size-2 .right { width: 40px; height: 60px; left: 60px; transform: rotateY(90deg) translateZ(0px); }
.size-2 .left { width: 40px; height: 60px; left: -20px; transform: rotateY(-90deg) translateZ(0px); }
.size-2 .top { width: 80px; height: 40px; transform: rotateX(90deg) translateZ(20px); }
.size-2 .bottom { width: 80px; height: 40px; transform: rotateX(-90deg) translateZ(40px); }
.pos-2 { top: 290px; left: 260px; }   /*  RED   */

/* SIZE 3 PURPLE */
.cube-tilt-3 { transform: rotateX(-36) rotateY(45deg); }
.size-3 { width: 40px; height: 60px; }
.size-3 .front { width: 80px; height: 60px; transform: translateZ(20px); }
.size-3 .back { width: 80px; height: 60px; transform: rotateY(180deg) translateZ(20px); }
.size-3 .right { width: 40px; height: 60px; left: 60px; transform: rotateY(90deg) translateZ(0px); }
.size-3 .left { width: 40px; height: 60px; left: -20px; transform: rotateY(-90deg) translateZ(0px); }
.size-3 .top { width: 80px; height: 40px; transform: rotateX(90deg) translateZ(20px); }
.size-3 .bottom { width: 80px; height: 40px; transform: rotateX(-90deg) translateZ(40px); }
.pos-3 { top: 110px; left: 300px; }   /* PURPLE */

/* SIZE 4 BLUE */
.cube-tilt-4 { transform: rotateX(-38deg) rotateY(46deg); }
.size-4 { width: 30px; height: 50px; }
.size-4 .front { width: 60px; height: 50px; transform: translateZ(15px); }
.size-4 .back { width: 60px; height: 50px; transform: rotateY(180deg) translateZ(15px);}
.size-4 .right { width: 30px; height: 50px; left: 45px; transform: rotateY(90deg) translateZ(0px); }
.size-4 .left { width: 30px; height: 50px; left: -15px; transform: rotateY(-90deg) translateZ(0px); }
.size-4 .top  { width: 60px; height: 30px; transform: rotateX(90deg) translateZ(15px); }
.size-4 .bottom { width: 60px; height: 30px; transform: rotateX(-90deg) translateZ(35px); }
.pos-4 { top: 190px; left: 430px; }   /*  BLUE  */

/* SIZE 5 YELLOW */
.cube-tilt-5 { transform: rotateX(-34) rotateY(45deg); }
.size-5 { width: 30px; height: 50px; }
.size-5 .front { width: 60px; height: 50px; transform: translateZ(15px); }
.size-5 .back { width: 60px; height: 50px; transform: rotateY(180deg) translateZ(15px);}
.size-5 .right { width: 30px; height: 50px; left: 45px; transform: rotateY(90deg) translateZ(0px); }
.size-5 .left { width: 30px; height: 50px; left: -15px; transform: rotateY(-90deg) translateZ(0px); }
.size-5 .top  { width: 60px; height: 30px; transform: rotateX(90deg) translateZ(15px); }
.size-5 .bottom { width: 60px; height: 30px; transform: rotateX(-90deg) translateZ(35px); }
.pos-5 { top: 210px; left: 140px; }   /* YELLOW */

/* SIZE 6 GRAY */
.cube-tilt-6 { transform: rotateX(-33.264deg) rotateY(45deg); }
.size-6 { width: 60px; height: 60px; }
.size-6 .front { width: 60px; height: 60px; transform: translateZ(30px); }
.size-6 .back { width: 60px; height: 60px; transform: rotateY(180deg) translateZ(30px); }
.size-6 .right { width: 60px; height: 60px; left: 30px; transform: rotateY(90deg) translateZ(0px); }
.size-6 .left { width: 60px; height: 60px; left: -30px; transform: rotateY(-90deg) translateZ(0px); }
.size-6 .top    { width: 60px; height: 60px; transform: rotateX(90deg) translateZ(30px); }
.size-6 .bottom { width: 60px; height: 60px; transform: rotateX(-90deg) translateZ(30px); }
.pos-6 { top: 90px; left: 120px; }    /*  GRAY  */

.color-blue .face { background-color: var(--bg-blue); border: 2px solid var(--bg-blue-deco); }
.color-red .face { background-color: var(--bg-coral); border: 2px solid var(--bg-coral-deco); }
.color-green .face { background-color: var(--bg-teal);  border: 2px solid var(--bg-dk-teal); }
.color-purple .face { background-color: var(--bg-purple); border: 2px solid var(--bg-purple-deco); }
.color-yellow .face { background-color: var(--bg-yellow); border: 2px solid var(--bg-yellow-deco); }
.color-diesel .face { background-color: var(--bg-dk-diesel); border: 2px solid #2c3e50; }

.color-green .top { background-color: #1a7e6b; }
.color-green .right { background-color: #0d5c4d; }
.color-blue .top { background-color: #0056b3;}
.color-blue .left { background-color:  #004494;}
.color-purple .top { background-color: #742b91;}
.color-purple .left { background-color: #5c2073;} 
.color-yellow .top { background-color: var(--bg-yellow-deco); }
.color-yellow .left {background-color: #b58d00; }
.color-red .top { background-color: var(--bg-coral-deco); }
.color-red .left {background-color: #AA3427;}

.base-scene {
  position: absolute;
  top:200px;
  left: 20px;
  z-index: 0;
  transform-style: preserve-3d;
}

.platform-wrapper {
  transform-style: preserve-3d;
  transform: translateZ(-280px) translateY(0px);
  position: relative;
}

.platform-cube {
  width: 500px;
  height: 60px;
  transform-style: preserve-3d;
  transform: rotateX(-35.264deg) rotateY(45deg);
  position: relative;
}

.platform-cube .face {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #888;
  border: 2px solid #555;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
}

.platform-cube .front  { transform: translateZ(300px); background: var(--bg-dk-lead-deco); }
.platform-cube .back   { transform: rotateY(180deg) translateZ(300px); background: #666; }

.platform-cube .right  { 
  width: 600px;
  height: 60px;
  left: 500px;
  transform: rotateY(90deg) translateZ(-300px);
  background: var(--bg-lt-gray-deco);
  border: 2px solid #555;
}
.platform-cube .left {
  width: 600px;
  height: 60px;
  left: -600px;
  transform: rotateY(-90deg) translateZ(-300px);
  background: var(--bg-lt-gray-deco);
  border: 2px solid #555;
}
.platform-cube .top { 
  width: 500px;
  height: 600px;
  transform: rotateX(90deg) translateZ(300px);
  background: var(--bg-lt-gray-deco);
  border: 2px solid #555;
}
.platform-cube .bottom {
  width: 500px;
  height: 600px;
  transform: rotateX(-90deg) translateZ(-240px);
  background: var(--bg-dk-gray);
  border: 2px solid #555;
}

.cube-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.connector-line {
  position: absolute;
  z-index: 0;
  border-radius: 2px;
}

/* LINEA 1 */
.line-1 {
  top: 41px; 
  left: 59px;    
  width: 4px; 
  height: 46px;
  background: linear-gradient(to right, #168571, #168571);
}
.data-packet-1 {
  position: absolute;
  top: 45px;  /* mismo que línea */
  left: 56px;
  width: 10px;
  height: 10px;
  background-color: var(--bg-teal);
  border-radius: 50%;
  animation: move-packet-1 1s infinite linear;
}
@keyframes move-packet-1 {
  0% { transform: translateY(0); opacity: 1; }
  90%  { opacity: 1; }
  100% { transform: translateY(36px); opacity: 0; }
}

/* LINEA 2 */
.line-2 {
  top: 84px;   /* misma base que final de la vertical */
  left: 60px;
  width: 58px;
  height: 4px;
  transform: rotate(34.264deg);
  transform-origin: left center;
  background: linear-gradient(to right, #168571, #168571);
}
.data-packet-2 {
  top: 84px;
  left: 60px;
  width: 8px;
  height: 8px;
  background-color: var(--bg-teal);
  border-radius: 50%;
  position: absolute;
  animation: move-packet-2 1s infinite linear;
  animation-delay: 2s;
}
@keyframes move-packet-2 {
  0% { transform: rotate(34.264deg) translateX(0); opacity: 0; }
  10%  { opacity: 1; }
  100% { transform: rotate(34.264deg) translateX(98px); opacity: 1;}
}

/* LINEA 3 */
.line-3 {
  top: 120px;   
  left: 90px;
  width: 4px;
  height: 63px;
  transform: rotate(62deg);
  transform-origin: center left;
  background: linear-gradient(to right, #168571, #168571);
}
.data-packet-3 {
  top: 139px;
  left: 111px;
  width: 8px;
  height: 8px;
  background-color: var(--bg-teal);
  border-radius: 50%;
  position: absolute;
  animation: move-packet-3 1s infinite linear;
  animation-delay: 2s;
  transform-origin: center left;
}
@keyframes move-packet-3 {
  0% { transform: rotate(156deg) translateX(0); opacity: 0; }
  10%  { opacity: 1; }
  100% { transform: rotate(154deg) translateX(50px); opacity: 1;}
}

/* LINEA 4 */
.line-4 {
  top: 166px;   
  left: 61px;
  width: 90px;
  height: 4px;
  transform: rotate(34.264deg);
  transform-origin: left center;
  background: linear-gradient(to right, #168571, #168571);
}
.data-packet-4 {
  top: 166px;
  left: 61px;
  width: 8px;
  height: 8px;
  background-color: var(--bg-teal);
  border-radius: 50%;
  position: absolute;
  animation: move-packet-4 1s infinite linear;
  animation-delay: 2s;
}
@keyframes move-packet-4 {
  0% { transform: rotate(34.264deg) translateX(0); opacity: 0; }
  10%  { opacity: 1; }
  100% { transform: rotate(36.264deg) translateX(90px); opacity: 1;}
}

/* LINEA 5  negro hacia purpura*/
.line-5 {
  top: 72px;    /* bajar para subir */
  left: 200px;  /*  */
  width: 4px;
  height: 48px;
  transform: rotate(62deg);
  transform-origin: center left;
  background: linear-gradient(to right, #168571, #168571);
}
.data-packet-5 {
  top: 98px;
  left: 184px;
  width: 8px;
  height: 8px;
  background-color: var(--bg-teal);
  border-radius: 50%;
  position: absolute;
  animation: move-packet-5 1s infinite linear;
  animation-delay: 2s;
  transform-origin: center left;
}
@keyframes move-packet-5 {
  0% { transform: rotate(156deg) translateX(0); opacity: 0; }
  10%  { opacity: 1; }
  100% { transform: rotate(156deg) translateX(-44px); opacity: 1;}
}

/* LINEA 6 */
.line-6 {
  top: 85px;   /* bajar para subir */
  left: 221px; /* bajar pra ir a izq */
  width: 90px;
  height: 4px;
  transform: rotate(29.264deg);
  transform-origin: left center;
  background: linear-gradient(to right, #168571, #168571);
}
.data-packet-6 {
  top: 84px; /* bajar para subir */
  left: 220px;
  width: 8px;
  height: 8px;
  background-color: var(--bg-teal);
  border-radius: 50%;
  position: absolute;
  animation: move-packet-6 1s infinite linear;
  animation-delay: 2s;
}
@keyframes move-packet-6 {
  0% { transform: rotate(29.264deg) translateX(0); opacity: 0; }
  10%  { opacity: 1; }
  100% { transform: rotate(29.264deg) translateX(90px); opacity: 1;}
}

/* LINEA 7 */
.line-7 {
  top: 148px;   /* bajar para subir */
  left: 160px;  /* bajar pra ir a izq */
  width: 160px;
  height: 4px;
  transform: rotate(32.264deg);
  transform-origin: left center;
  background: linear-gradient(to right, #168571, #168571);
}
.data-packet-7 {
  top: 148px;  /* bajar para subir */
  left: 160px; /* bajar pra ir a izq */
  width: 8px;
  height: 8px;
  background-color: var(--bg-teal);
  border-radius: 50%;
  position: absolute;
  animation: move-packet-7 1s infinite linear;
  animation-delay: 2s;
}
@keyframes move-packet-7 {
  0% { transform: rotate(32.264deg) translateX(0); opacity: 0; }
  10%  { opacity: 1; }
  100% { transform: rotate(32.264deg) translateX(150px); opacity: 1;}
}

/* LINEA 8 desde central hacia rojo*/
.line-8 {
  top: 210px;   
  left: 256px; /* Aumentar para ir a la izquerda */
  width: 4px;
  height: 88px;
  transform: rotate(60deg);
  transform-origin: center left;
  background: linear-gradient(to right, #168571, #168571);
}
.data-packet-8 {
  top: 234px;
  left: 288px;
  width: 8px;
  height: 8px;
  background-color: var(--bg-teal);
  border-radius: 50%;
  position: absolute;
  animation: move-packet-8 1s infinite linear;
  animation-delay: 2s;
  transform-origin: center left;
}
@keyframes move-packet-8 {
  0% { transform: rotate(156deg) translateX(0); opacity: 0; }
  10%  { opacity: 1; }
  100% { transform: rotate(150deg) translateX(70px); opacity: 1;}
}

/* LINEA 9  centro hacia azul*/
.line-9 {
  top: 150px;    /* bajar para subir */
  left: 341px;  /* bajar para ir izq  */
  width: 4px;
  height: 110px;
  transform: rotate(60deg);
  transform-origin: center left;
  background: linear-gradient(to right, #168571, #168571);
}
.data-packet-9 {
  top: 228px; /* subir para bajar */
  left: 298px;
  width: 8px;
  height: 8px;
  background-color: var(--bg-teal);
  border-radius: 50%;
  position: absolute;
  animation: move-packet-9 1s infinite linear;
  animation-delay: 2s;
  transform-origin: center left;
}
@keyframes move-packet-9 {
  0% { transform: rotate(155deg) translateX(0); opacity: 0; }
  10%  { opacity: 1; }
  100% { transform: rotate(149deg) translateX(-100px); opacity: 1;}
}

/* LINEA 10 */
.line-10 {
  top: 275px;   
  left: 220px;
  width: 90px;
  height: 4px;
  transform: rotate(34.264deg);
  transform-origin: left center;
  background: linear-gradient(to right, #168571, #168571);
}
.data-packet-10 {
  top: 275px;
  left: 220px;
  width: 8px;
  height: 8px;
  background-color: var(--bg-teal);
  border-radius: 50%;
  position: absolute;
  animation: move-packet-10 1s infinite linear;
  animation-delay: 2s;
}
@keyframes move-packet-10 {
  0% { transform: rotate(36.264deg) translateX(0); opacity: 0; }
  10%  { opacity: 1; }
  100% { transform: rotate(38.264deg) translateX(90px); opacity: 1;}
}

/* LINEA 11 */
.line-11 {
  top: 178px;   
  left: 388px;
  width: 90px;
  height: 4px;
  transform: rotate(29.264deg);
  transform-origin: left center;
  background: linear-gradient(to right, #168571, #168571);
}
.data-packet-11 {
  top: 178px;
  left: 388px;
  width: 8px;
  height: 8px;
  background-color: var(--bg-teal);
  border-radius: 50%;
  position: absolute;
  animation: move-packet-11 1s infinite linear;
  animation-delay: 2s;
}
@keyframes move-packet-11 {
  0% { transform: rotate(37.264deg) translateX(0); opacity: 0; }
  10%  { opacity: 1; }
  100% { transform: rotate(23.264deg) translateX(90px); opacity: 1;}
}

@media (max-width: 420px) {
  .special-container {
    transform: scale(0.55);
    transform-origin: top center;
    margin-left: -70px;
  }

  .cubes-wrapper {
    position: relative;
    width: 500px;
    height: 400px;
    margin: auto;
    transform-style: preserve-3d;
    z-index: 0;
    perspective: 1500px; 
  }
}