.quickboard-grid {
  display: grid;
  gap: var(--gap-12);
  margin-top: var(--mg-12);
  margin-bottom: var(--mg-0);
  margin-left: var(--mg-0);
  margin-right: var(--mg-0);
  align-items: start;
  grid-template-columns: fit-content(420px) 1fr; /* tope 420px */
}

@media (max-width: 768px){
  .quickboard-grid{ grid-template-columns: 1fr; }
}
