{% extends "dashboard/dashboard.html" %}

{% block dashboard_content %}
  <div class="box autofit dark left">
    <h4 class="box-title-white">
      <img src="{{ url_for('static', filename='icons/settings-white.svg') }}" alt="Configuración Empresa" class="nav-icon">
      Configuración inicial de tu empresa
    </h4>
    <div class="row horizontal">
      <label class="label md dark left">
        <img src="{{ url_for('static', filename='icons/building-white.svg') }}" alt="Empresa" class="nav-icon">
        Empresa Creada:
      </label>
      <label class="label lg left data">{{ empresa_nombre }}</label>
    </div>
    <h4 class="box-title-white">Marca los catálogos que deseas precargar:</h4>

    <form method="post" action="/company/setup/setup_empresa/opciones">
      <input type="hidden" name="company_id" value="{{ company_id }}">

      <label><input type="checkbox" name="copy_brands" checked> Marcas de dispositivos</label><br>
      <label><input type="checkbox" name="copy_os" checked> Sistemas Operativos</label><br>
      <label><input type="checkbox" name="copy_software" checked> Software</label><br><br>

      <div id="respuesta" class="respuesta-box"></div>

      <button class="button button-success" type="submit">📦 Completar Setup</button>
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/components/sidebar.js') }}?v={{ ASSET_VERSION }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/company/setup_opciones.js') }}?v={{ ASSET_VERSION }}"></script>
{% endblock %}
