/* ===================================================
✅ ICONS.CSS – Estilos para íconos reutilizables
=================================================== */
/* 🔹 Ícono base general (opcional si lo necesitas en otros contextos) */
.icon {
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
  flex-shrink: 0;
}

.title-icon {
  width: 1.75rem;
  height: 1.75rem;
  vertical-align: middle;
  flex-shrink: 0;
}

/* 🔹 Ícono dentro de párrafos */
.p-icon {
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: text-bottom;
  margin-left: var(--mg-4);
  flex-shrink: 0;
}

/* 🔹 Ícono dentro de labels */
.label-icon {
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
  margin-right: var(--mg-4);  /* 0.5rem = 8px */
  flex-shrink: 0;
}

.nav-icon {
  font-size: var(--font-16);  /* 1rem*/
  margin-left: var(--mg-4);   /* 1rem*/
  width: 20px;                /* o 24px si quieres un poco más grande */
  height: 20px;               /* mantiene proporción cuadrada */
  margin-right: var(--mg-4);  /* 0.25rem = 4px */
  vertical-align: middle;     /* alinea el ícono con el texto */
  stroke: var(--on-white);  /* para SVGs tipo Lucide que usan stroke */
  fill: none;
}

.user-icon {
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
  /*margin-left: var(--mg-16);  /* 1rem */
  /*margin-right: var(--mg-4);  /* 0.25rem = 4px */
  stroke: var(--on-white);
  fill: none;
}

.btn-icon {
  font-size: var(--font-16);  /* 1rem */
  width: 20px;                /* o 24px si quieres un poco más grande */
  height: 20px;               /* mantiene proporción cuadrada */
  vertical-align: middle;     /* alinea el ícono con el texto */
  stroke: currentColor;       /* para SVGs tipo Lucide que usan stroke */
  fill: none;
  margin-right: var(--mg-2);  /* 0.5rem */
  margin-left: var(--mg-2);   /* 0.5rem */
}