/* ✅ Base input Styles */
.input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--radius-8);
  font-size: var(--font-16);
  font-weight: var(--bold-500);       /* 500 */
  background-color: var(--bg-white);
  color: var(--text-input);
  padding: 6px 8px;
}

.input.sm {
  font-size: var(--font-16);    /* 1rem */
  padding: var(--pad-6x12);     /* 2px 12px */
  width: 260px;
  height: 36px;
}

.input.pass {
  font-size: var(--font-16);    /* 1rem */
  padding: var(--pad-6x12);     /* 2px 12px */
  min-width: 260px;
  max-width: 100%;  
  height: 36px;
}

.input.md {
  font-size: var(--font-16);    /* 1rem */
  padding: var(--pad-6x12);      /* 2px 8px */
  width: 320px;
  height: 36px;
}

.input.reg {
  font-size: var(--font-16);    /* 1rem */
  padding: var(--pad-6x12);     /* 2px 12px */
  width: 384px;  
  height: 36px;
}

.input.base {
  font-size: var(--font-16);    /* 1rem */
  padding: var(--pad-6x12);
  width: 500px;
  height: 36px;
}

.input.lg {
  font-size: var(--font-16);   
  padding: var(--pad-6x12);
  font-weight: var(--bold-400);
  width: 344px;
  height: 36px;
}

.input.xl {
  font-size: var(--font-16);    /* 1.5rem   */
  padding: var(--pad-6x12);    /* 4px 16px */
  width: 424px;
  height: 36px;
}

.input.fill {
  font-size: var(--font-16);    /* 1rem */
  padding: var(--pad-6x12);     /* 2px 12px */
  width: 100%;
  height: 36px;
}

.input.full {
  font-size: var(--font-16);    /* 16px */
  padding: var(--pad-6x12);     /* 2px 12px */
  width: 100%;
  height: 36px;
}

.input.note {
  font-size: var(--font-14);      /* 0.875rem */
  padding: var(--pad-2x4);        /* 2px 8px */
  width: 372px;
  height: 72px;
  padding-left: var(--pad-8);
  padding-right: var(--pad-8);
  padding-top: var(--pad-8);
  padding-bottom: var(--pad-8);
}

.input[readonly] {
  background-color: var(--bg-lead);
  border: none;
  color: var(--on-dark);
  font-style: italic;
  border-radius: var(--radius-8);
  font-weight: var(--bold-500);
  padding: 6px 8px;
}

/* ✅ Focus Effect */
.input:focus {
  border-color: var(--input-focus);
  outline: none;
}

.input::placeholder {
  color: var(--text-placeholder);
  font-style: italic;
}

/* ✅ Error Styles */
.input-error {
  font-weight: bold;
  border-color: var(--danger);
  background-color: rgba(229, 57, 53, 0.1);
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group .error-message {
  margin-top: var(--mg-4);
  font-size: 0.85rem; 
  color: var(--error-color, var(--bg-dk-coral));
}


.input.dark { background-color: var(--bg-dk-lead); color: var(--on-dark); border: 1px solid var(--bg-lead); --hover-bg: var(--bg-lead); --hover-border: var(--on-red); }


@media (max-width: 420px) {
  .input.reg {
    height: 36px;
    width: 100%;
  }

  .input.note {
    width: 100%;
  }
}
