.input-with-icon {
  display: flex;
  align-items: center;
}

.password-criteria {
  margin-top: 6px;
  font-size: var(--font-14);
  list-style: none;
  padding-left: var(--pad-16);
}

.password-criteria li {
  transition: color 0.2s ease;
  color: red;
}
.password-criteria li.valid {
  color: green;
}

.password-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;      /* 📏 Se ajusta al contenido */
  max-width: 100%;         /* Opcional, por si quieres evitar desbordes */
}

.password-wrapper input {
  flex: 1;             /* importante para que crezca dentro del wrapper */
  padding-right: 40px; /* espacio para el ícono */
}

.toggle-password {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;    
  border: none;
  cursor: pointer;
  padding: var(--pad-4);
}

.toggle-password img {
  width: 20px;
  height: 20px;
  opacity: 0.7;
}

.password-criteria-row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-8);
  margin-top: var(--mg-8);
  margin-bottom: var(--mg-12);
  font-size: var(--font-14);
  align-items: center;
  justify-content: center;
}

.password-label {
  padding: 0.3rem 0.6rem;
  border-radius: var(--radius-12);
  background-color: var(--bg-lt-red);
  color: var(--on-lt-red);
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  white-space: nowrap;
  font-weight: var(--bold-500);
  font-size: var(--font-12);
}

.password-label.valid {
  background-color: var(--bg-lt-green);
  color: var(--on-lt-green);
}

@media (max-width: 420px) {
  .password-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;      /* 📏 Se ajusta al contenido */
  }

  .password-wrapper input {
    flex: 1;             /* importante para que crezca dentro del wrapper */
    padding-right: 40px; /* espacio para el ícono */
  }
}