.table-wrapper {
  display: block;
  width: auto;
  max-width: calc(100vw - 240px);  /* suponiendo sidebar de 240px */
  overflow-x: auto !important;
  overflow-y: hidden ;
  isolation: isolate; 
  position: relative; 
  border-radius: var(--radius-4);
  background-color: transparent;
  margin-top: var(--mg-16);
  -webkit-overflow-scrolling: touch;
  background: var(--bg-lt-gray-deco);
}

.table-wrapper::-webkit-scrollbar {
  height: 14px;
}
.table-wrapper::-webkit-scrollbar-thumb {
  background: var(--bg-lead-deco);
  border-radius: 3px;
  max-width: 100%;
  /* box-sizing: border-box; */
}

body.sidebar-collapsed .table-wrapper {
  width: auto;
  max-width: calc(100vw - 64px); /* ajusta al nuevo ancho del sidebar-toggle */
  margin-right: var(--mg-0);
}

.tabulator-container {
  min-width: max-content !important;
  width: auto !important;
  display: block;
  overflow-x: auto;
  width: 100%;
  overflow-x: auto;
  border-radius: var(--radius-4);
  background-color: var(--bg-white);
}

/* Si quieres reforzar, pero Tabulator ya se encarga: */
.tabulator {
  width: auto;
  min-width: 100%;
  font-size: var(--font-14);
  overflow-x: auto !important;
}

.tabulator-table {
  width: max-content;
  table-layout: auto !important;
  min-width: unset !important;
}

#model-table {
  overflow-x: auto;
  max-width: 100%;
}

.tabulator-cell {
  overflow: hidden !important; 
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}

.tabulator .tabulator-header .tabulator-col {
  background-color: var(--bg-lead-deco);
  color: var(--text-white);
}

.tabulator .tabulator-footer {
  background-color: var(--bg-lead-deco);
  color: var(--text-white);
}

.tabulator-footer {
  justify-content: flex-start !important;  /* ⬅️ fuerza la alineación a la izquierda */
  display: flex !important;                /* asegúrate de que es un flex container */
  align-items: center;
  padding-left: var(--pad-16);             /* opcional: espaciado */
}

.tabulator-paginator button {
  color: var(--text-white);
}

.tabulator-paginator select {
  width: 64px !important;
}

/* ✅ Aviso en móvil */
.scroll-warning {
  display: none;
  font-size: var(--font-14);
  color: var(--text-data);
  margin-bottom: var(--mg-8);
  text-align: center;
}

.header-action-label small {
  text-transform: capitalize;
}

.btn-mini {
  font-size: var(--font-14);
  padding: var(--pad-mini64x32);
  margin-left: var(--mg-2);
  margin-right: var(--mg-2);
  margin-top: var(--mg-0);
  margin-bottom: var(--mg-0);
  border-radius: var(--radius-4);
  border: none;
  cursor: pointer;
  border: 1px solid transparent;
}

.btn-mini.green { background-color: var(--bg-green); color: var(--on-green); }
.btn-mini.blue  { background-color: var(--bg-blue); color: var(--on-blue); }
.btn-mini.red   { background-color: var(--bg-red); color: var(--on-red); }
.btn-mini.yellow { background-color: var(--bg-yellow); color: var(--on-yellow);}

.btn-mini:hover {
  opacity: 0.9;
  box-shadow: 0 0 0 1px var(--bg-black);
  transition: border-color 0.15s ease, opacity 0.15s ease, box-shadow 0.15s ease;
}

.btn-mini.disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
}

.btn-action {
  font-size: var(--font-14);
  padding: var(--pad-mini64x32);
  margin-left: var(--mg-2);
  margin-right: var(--mg-2);
  margin-top: var(--mg-0);
  margin-bottom: var(--mg-0);
  border-radius: var(--radius-4);
  border: none;
  cursor: pointer;
}

.btn-action.blue { background-color: var(--bg-blue); color: var(--on-blue); }
.btn-action.gray { background-color: var(--bg-dk-lead-deco); color: var(--on-dark); }
.btn-action.green { background-color: var(--bg-green); color: var(--on-green); }
.btn-action.red { background-color: var(--bg-red); color: var(--on-red); }

.btn-action:hover {
  opacity: 0.9;
  transform: scale(1.05);
  transition: all 0.15s ease;
  border: 1px solid var(--bg-black);
}

//.cell-bg-blue { background-color: var(--bg-lt-blue); }
//.cell-bg-gray { background-color: var(--bg-lt-gray-deco); }
//.cell-bg-green { background-color: var(--bg-lt-green); }
//.cell-bg-red { background-color: var(--bg-lt-red); }

//.cell-bg-blue,
//.cell-bg-gray,
//.cell-bg-green,
//.cell-bg-red {
//  padding: 4px;
//  border-radius: 2px;
//  text-align: center;
//}

.column-bg-blue  { background-color: var(--bg-lt-blue); }
.column-bg-gray  { background-color: var(--bg-lt-gray-deco); }
.column-bg-green { background-color: var(--bg-lt-green); }
.column-bg-red   { background-color: var(--bg-lt-red); }

@media (max-width: 768px) {
  body {
    overflow-x: hidden; /* evita que el layout completo haga scroll */
  }

    .scroll-warning {
    display: block;
    font-size: var(--font-12);
    font-style: italic;
    color: var(--on-dark);
    text-align: center;
    margin-bottom: var(--mg-6);
    background: var(--bg-lead-deco)
  }

  .table-wrapper {
    max-width: calc(100vw - 165px);
    overflow-x: auto;
    border: 1px solid var(--bg-lead-deco); /* opcional: contorno visible */
    scroll-behavior: smooth; /* UX */
  }

  body.sidebar-collapsed .table-wrapper {
    max-width: calc(100vw - 68px); /* ajusta al nuevo ancho del sidebar-toggle */
    margin-right: var(--mg-0);
  }

  .table-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.1));
    z-index: 2;
    border-radius: var(--radius-4);
  }

  .tabulator-container {
    min-width: 500px;  /* o más si tu tabla lo necesita */
  }

  .tabulator {
    font-size: var(--font-14);  /* O más pequeño si necesitas */
  }

  .tabulator-footer {
    flex-direction: column;
    align-items: flex-start;
    padding-left: var(--pad-8);
    padding-top: var(--pad-8);
    gap: var(--mg-4);           /* Espacio entre botones de paginación */
  }

  .tabulator-paginator button,
  .tabulator-paginator label {
    font-size: var(--font-14);
  }

  body.sidebar-collapsed .table-wrapper {
    max-width: calc(100vw - 64px); /* ajusta al nuevo ancho del sidebar-toggle */
    margin-right: var(--mg-0);
  }
}

@media (max-width: 420px) {
  body {
    overflow-x: hidden; /* evita que el layout completo haga scroll */
  }

  .scroll-warning {
    display: block;
    font-size: var(--font-12);
    font-style: italic;
    color: var(--on-dark);
    text-align: center;
    margin-bottom: var(--mg-6);
    background: var(--bg-lead-deco)
  }

  .table-wrapper {
    max-width: 100vw;
    overflow-x: auto;
    border: 1px solid var(--bg-lead-deco); /* opcional: contorno visible */
    scroll-behavior: smooth; /* UX */
  }

  .table-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.1));
    z-index: 2;
    border-radius: var(--radius-4);
  }

  .tabulator-container {
    min-width: 500px;  /* o más si tu tabla lo necesita */
  }

  .tabulator {
    font-size: var(--font-14);  /* O más pequeño si necesitas */
  }

  .tabulator-footer {
    flex-direction: column;
    align-items: flex-start;
    padding-left: var(--pad-8);
    padding-top: var(--pad-8);
    gap: var(--mg-4);           /* Espacio entre botones de paginación */
  }

  .tabulator-paginator button,
  .tabulator-paginator label {
    font-size: var(--font-14);
  }

  body.sidebar-collapsed .table-wrapper {
    //width: 100%;
    max-width: calc(100vw - 0px); /* ajusta al nuevo ancho del sidebar-toggle */
    margin-right: var(--mg-0);
  }
}
