{% macro sidebar_section(title, icon=None, items=[]) %}
  <div class="sidebar-section" data-section="{{ title|lower|replace(' ', '-') }}">
    <div class="sidebar-section-header">
      <div class="sidebar-title-box">
        {% if icon %}
          <img src="{{ url_for('static', filename='icons/' + icon) }}" class="sidebar-icon">
        {% endif %}
        <h5 class="sidebar-title">{{ title }}</h5>
        <span class="sidebar-toggle">▶</span>
      </div>
    </div>
    <ul class="sidebar-menu hidden">
      {% for item in items %}
        {% if item.visible is not defined or item.visible %}
          
        {% set href = '#' %}
        {% if item.endpoint is defined %}
          {% set href = url_for(item.endpoint, **(item.args or {})) %}
        {% endif %}

          <li>
            <a href="{{ href }}">
              {% if item.icon is defined %}
                <img src="{{ url_for('static', filename='icons/' + item.icon) }}" class="sidebar-icon">
              {% endif %}
              {{ item.label }}
            </a>
          </li>

        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endmacro %}



