{% extends "shared/main.html" %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block content %}
  <section class="section section-secondary">
    <div class="box center">

      <form id="forgot-password-form" class="form horizontal" autocomplete="off" data-action="{{ url_for('auth.forgot_password.forgot_password') }}">
        <h3 class="text-center form-title">
          <img src="{{ url_for('static', filename='icons/info-blue.svg') }}" alt="Recuperar" class="label-icon">
          Recuperar Contraseña
        </h3>

        <div class="row vertical">
          <label for="email" class="label base left">
            <img src="{{ url_for('static', filename='icons/email-blue.svg') }}" alt="Correo" class="label-icon">
            Correo electrónico:
          </label>
          <input class="input full" type="email" id="email" name="email" required placeholder="ejemplo@dominio.com" autocomplete="email">
        </div>

        <div class="box button-layout">
          <button type="submit" class="button button-success button-icon">
            <img src="{{ url_for('static', filename='icons/pen-white.svg') }}" alt="Enviar" class="label-icon">
            Enviar Enlace
          </button>
        </div>

        <div class="box link-layout">
          <p>
            <a href="{{ url_for('auth.login.login') }}" class="link-highlight">
              <img src="{{ url_for('static', filename='icons/arrow-back-blue.svg') }}" alt="Volver" class="label-icon">
              Volver al inicio de sesión
            </a>
          </p>
        </div>
      </form>

      <div id="message" class="text-muted"></div>

    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/auth/forgot_password.js') }}?v={{ ASSET_VERSION }}" type="module"></script>
{% endblock %}
