{% extends "shared/main.html" %}

{% block title %}Iniciar sesión{% endblock %}

{% block content %}
  <section class="section section-form">
    <div class="box silver center">

      <form id="LoginForm" class="form horizontal" autocomplete="on">
        <h3 class="text-center box-title-white">
          <img src="{{ url_for('static', filename='icons/key-white.svg') }}" alt="Usuario" class="label-icon">
          Iniciar Sesión
        </h3>

        <div class="row vertical">
          <label for="username" class="label silver base left">
            <img src="{{ url_for('static', filename='icons/user-white.svg') }}" alt="Usuario" class="label-icon">
            Usuario:
          </label>
          <input class="input full" type="text" id="username" name="username" autocomplete="username" placeholder="👨‍💼 Usuario">
        </div>

        <div class="row vertical">
          <label for="password" class="label silver base left">
            <img src="{{ url_for('static', filename='icons/key-white.svg') }}" alt="Contraseña" class="label-icon">
            Contraseña:
          </label>
          <div class="password-wrapper">
            <input class="input lg password-input" type="password" id="password" name="password" autocomplete="current-password" placeholder="🔑 Contraseña">
            <button type="button" class="toggle-password" aria-label="Mostrar/Ocultar contraseña">
              <img src="{{ url_for('static', filename='icons/eye-open-black.svg') }}" alt="Mostrar" class="eye-icon">
            </button>
          </div>
        </div>

        <div class="row vertical">
          <label class="label silver base left" for="rememberMe">
            <input type="checkbox" id="rememberMe" name="remember">
            Recordarme
          </label>
        </div>

        <div class="box button-layout">
          <button type="submit" id="loginButton" class="button button-warning button-icon">
            <img src="{{ url_for('static', filename='icons/lock-black.svg') }}" alt="Iniciar Sesión" class="label-icon">
            Iniciar Sesión
          </button>
        </div>

        <div class="box link-layout">
          <p>
            ¿No tienes cuenta?
            <a href="{{ url_for('auth.register.register') }}">
              <img src="{{ url_for('static', filename='icons/pen-white.svg') }}" alt="Regístrate" class="label-icon">
              Regístrate
            </a>
          </p>
          <p>
            ¿No puedo acceder?
            <a href="{{ url_for('auth.forgot_password.forgot_password') }}">
              <img src="{{ url_for('static', filename='icons/info-white.svg') }}" alt="Regístrate" class="label-icon">
              Ayuda
            </a>
          </p>
        </div>

      </form>

      <div id="message" class="text-muted"></div>

    </div>
  </section>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/auth/login.js') }}?v={{ ASSET_VERSION }}"></script>
    <script src="{{ url_for('static', filename='js/auth/password.js') }}?v={{ ASSET_VERSION }}" type="module"></script>
{% endblock %}
