{% extends "shared/main.html" %}

{% block title %}📚 Índice de Contenidos{% endblock %}

{% block content %}
  <section class="section section-secondary">
    <div class="container">
      <div class="box middle">
        <h3 class="box-title">📚 Índice de Contenidos</h3>
        <ul class="md-index-list">
          {% for f in files %}
            <li><a href="{{ url_for('mdviewer.md_view', filename=f.slug) }}">{{ f.title }}</a></li>
          {% endfor %}
        </ul>

        <div class="box button-back">
          <button class="button-link back-btn" data-back="/">
            <img src="{{ url_for('static', filename='icons/arrow-back-white.svg') }}" alt="Back" class="button-icon">
            Regresar
          </button>
        </div>

      </div>
    </div>
  </section>
{% endblock %}